:root {
  --transition-value: .7s;
}

h4 {
  color: var(--bluegrey);
}

a {
  color: inherit;
}
ul {
  list-style: none;
  padding:0;
}

/* Projects styling */
#project-section{
    min-height: 500px;
    width: auto;
    flex-wrap: wrap;
    /* background-color: red solid 2px; */
  }

#proj-content {
  position: relative;
}

#proj-main {
  position:  absolute;
  right:0;
}

.cardv2:last-of-type {
  margin-bottom: 500px;
}
  
.project-card {
position: relative;
background-color: var(--darkbg);
color: var(--mint);
border-radius: 15px 0 15px 0;
/* border: blue dashed 2px; */

/* min-height: 338px; */
padding: 0;
margin: .5%
}

.project-img {
max-width: 100%;
max-height: 400px;
padding:0;
margin: 0;
height: 70%;
overflow: hidden;


transition: var(--transition-value);
}

.debug-1 {
  border: 2px red solid;
  padding: 0;
}

.project-img img {
  max-width: 100%;
  height: auto;
  border-radius: 15px 0 0 0;

padding:0;
transition: var(--transition-value);
}

/* .project-title h4{
transition: var(--transition-value);
} */

.project-title{
  color:var(--mint);
  margin-bottom: 2px;
}
.project-title h3{
transition: var(--transition-value);
}

.project-data {
padding: 0 2%;
/* border: green dashed 2px; */
}


.project-card:hover{
  overflow: hidden;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.project-card:hover .project-img {
  height: 10%;
}

/* .project-card:hover h4 {
  color: var(--accentgold);
} */

.cardv2 h3 {
  transition: var(--transition-value);
}

.cardv2:hover h3 {
  color: var(--accentgold);
}


/* CARD REFACTOR */

.cardv2 {
  max-width: 90%;
  transition: var(--transition-value);
  padding: 20px;
  position: relative;
}

.link-pop {
  transition: .3s;
}

.link-pop:hover {
  text-decoration: underline;
  font-size: 18px;
}

.cardv2 p{
  color:var(--mint);
}

.cardv2:hover {
  background-color: var(--darkbg);
  /* #52 from  https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: var(--darkbg) 0px 0px 0.25em, var(--dark) 0px 0.25em 1em;
}

.project-tag {
  display:inline-block;
  font-weight: 500;
  margin: 0 10px 5px 0;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: var(--dark);
  color: var(--accent);
  /* color: rgb(173, 173, 173) */
  }

.proj-img {
  max-width: 100%;
  height: auto;
  border: 2px var(--dark) solid;
  border-radius: 3px;

  transition: var(--transition-value);
}

.cardv2:hover .proj-img {
  border: 2px var(--darkbg) solid;
  transition: var(--transition-value);
}

@media (max-width: 767px) {
  #project-aside{
    display: none;
  }

  #proj-content {
    display: flex;
    justify-content: center;
  }

  #proj-main {
    position:inherit;
  }
  
}


