#about-section h3 {
    margin-top: 75px;
}

#about-section {
    padding-bottom: 75px;
    /* padding-right: 40px; */
}

b {
    color: var(--accentgold);
}


@media screen and (max-width: 767px) {
    #tools-bar,
    #languages-bar {
        display: flex;
        justify-content: space-around;
    }

    #tools-bar {
        margin-bottom: 30px;
    }

    #about-text {
        padding-left: 20px;
    }    
  }
  