:root {
  --accent: #84dccf;
  --dark: #000f08;
  --bluemetal: #1c3738;
  --grey: #4d4847;
  --mint: #F4FFF8;
  --blugrey: #8bAAAD;
}

/* DEBUG STYLINGS ONLY */
nav,
main {
  border: 2px red solid;
}

.row {
  border: 2px blue solid;
}

.row > .col-md-8,
.row > .col-md-4 {
  border: 2px green dashed;
}

/* END DEBUG STYLINGS */

body {
  background-color: var(--bluemetal) !important;
}

main {
  margin: 100px;
}

/* Anchor Styling */
#socials, #socials a {
  text-decoration: none;
  color: var(--mint);
  font-weight: bold;
  font-size: 20px;
}

#socials a {
  transition: 0.5s;
}

#socials a:hover {
  font-size: 22px;
}

/* Contact btn */
#contact-btn {
  margin: 50px 0 10px 0;
  padding: 10px 20px;
  border-radius: 0;

  font-weight: bold;
  color: var(--accent);
  background-color: transparent;
  border: 2px var(--accent) solid;

  transition: .5s;
}

#contact-btn:hover {
  background-color: var(--dark);
}

.feature-card {
  color: var(--mint);
}

.feature-card h2 {
  color:var(--accent);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.feature-card a {
  position: absolute;
  color: var(--accent);

  font-weight: bold;
  text-decoration: none;
}

#bio-pic {
  max-width: 100%;
  margin-top: 100px;
}

#header {
  padding-top: 30px;
}

.accent {
  color: var(--accent);
}

.mint {
  color: var(--mint);
}

.branded-name {
  font-weight: bolder;
  font-size: 50px;
  line-height: 50px;
}

.branded-name p {
  margin:0;
}

.dash {
  background-color: var(--accent);
  margin: 40px 85% 10px 0;
  height: 2px;
}

.navbar-secondary-drk, .navbar {
  background-color: var(--bluemetal);
  color: var(--mint) !important;
}

.navbar .bg-dark {
  background-color: var(--bluemetal) !important;
  color: var(--mint) !important;
}

.nav-link,
.navbar-brand {
  color: var(--mint) !important;
}

span.navbar-brand {
  font-size: 25px;
}

