:root {
  --accent: #84dccf;
  --accentgold: #cc9933;
  --dark: #000f08;
  --darkbg: rgba(0, 15, 8, .3);
  --bluemetal: #1c3738;
  --grey: #4d4847;
  --mint: #F4FFF8;
  --blugrey: #8bAAAD;
}

/* DEBUG STYLINGS ONLY */
/* nav,
main {
  border: 2px red solid;
}



.row {
  border: 2px blue solid;
}

.row > .col-md-8,
.row > .col-md-4 {
  border: 2px green dashed;
} */

/* END DEBUG STYLINGS */

body {
  background-color: var(--bluemetal) !important;
}

main {
  margin: 100px;
}

a {
  text-decoration: none !important;
}

/* Header Styling */
h2 {
  color: var(--accent) !important;
  font-weight: bold !important;
  font-size: 15px !important;
  margin-bottom: 20px !important;
}

.text-centered {
  text-align: center;
}

.header-link {
  position: relative;
  margin: 0 10px;
  padding: 2px;
  text-align: center;

  cursor: pointer;
}

.header-link::after {
  content:"";
  position: absolute;

  background-color: var(--accentgold);
  
  bottom:0;
  height:2px;
  width: 0;
  left: 50%;
  transition: .5s;
  
}

.header-link:hover::after {
  content:"";
  position: absolute;

  background-color: var(--accentgold);
  
  bottom:0;
  height:2px;
  width: 50%;
  left: 25%;
  
}

/* Contact Components */

#contact-info {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-section h3 {
  color: var(--mint);
  margin-bottom: 20px;
}

.contact-card {
  display: flex;
  align-items: center;
  margin: 10px 20px;  
  height: 50px;
  width: 350px;
  /* border-radius: 15px; */

  background-color: var(--darkbg);

  color: var(--accent);
  font-weight: bold;
}
 .contact-card img {
  max-height: 25px;
  margin: 0 20px;
 }

 /* Mouse is a pointer when the card is not clicked */
#email-card div {
  font-size: 15px;
}

#email-card a,
#email-card span {
  text-decoration: none;
  color: var(--accent);
}

 #email-card.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#email-card.options>div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 #email-card:hover{
  cursor: pointer;
 }

 #email-card.options {
  cursor:auto;
 }

 #email-card img {
  max-width: 25px;
  margin: none;
 }

 #resume-btn {
  margin-top: 15px !important;
 }

 #resume-btn>img {
  max-height: 18px;
  margin-right: 10px;
 }

 #contact-info .left-align {
  display: flex;
  justify-content: left;
  width: 350px;
 }

 form {
  background-color: var(--darkbg);
  padding: 15px;
  /* border-radius: 15px; */

 }

 form label {
  color: var(--mint);
 }

 #contact-submit {
  height: 42px;
  width: 80px;

  transition: .1s;
 }

 #contact-submit::after {
  content:"Submit";
  /* transition: .5s; */
 }

 #contact-submit:hover {
  /* width: 100px; */
  line-height: 7px;
 }

 #contact-submit:hover::after {
  content:"Not Implemented";
  font-size: 10px;
 }


/* Anchor Styling */
#socials, #socials a {
  text-decoration: none;
  color: var(--mint);
  font-weight: bold;
  font-size: 20px;
}

#socials a {
  transition: 0.5s;
}

#socials a:hover {
  font-size: 22px;
}

/* Contact btn */
#contact-btn,
#resume-btn {
  margin: 50px 0 10px 0;
  padding: 10px 20px;
  border-radius: 0;

  font-weight: bold;
  color: var(--accent);
  background-color: transparent;
  border: 2px var(--accent) solid;

  transition: .5s;
}

#resume-btn {
  border-color: var(--accentgold);
}

#contact-btn:hover,
#resume-btn:hover {
  background-color: var(--dark);
}

.feature-card {
  color: var(--mint);
}

.feature-card h2 {
  color:var(--accent);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.feature-card a {
  position: absolute;
  color: var(--accent);

  font-weight: bold;
  text-decoration: none;
}

#bio-pic {
  max-width: 100%;
  margin-top: 100px;
}

#header {
  padding-top: 30px;
}

.accent {
  color: var(--accent);
}

.mint {
  color: var(--mint);
}

.branded-name {
  font-weight: bolder;
  font-size: 50px;
  line-height: 50px;
}

.branded-name p {
  margin:0;
}

.dash {
  background-color: var(--accent);
  margin: 40px 85% 10px 0;
  height: 2px;
}

.navbar-secondary-drk, .navbar {
  background-color: var(--bluemetal);
  color: var(--mint) !important;
}

.navbar .bg-dark {
  background-color: var(--bluemetal) !important;
  color: var(--mint) !important;
}

.nav-link,
.navbar-brand {
  color: var(--mint) !important;
}

span.navbar-brand {
  font-size: 25px;
}

