:root {
  --transition-value: .7s;
  --accent: #84dccf;
  --accentgold: #cc9933;
  --dark: #000f08;
  --darkbg: rgba(0, 15, 8, .3);
  --bluemetal: #1c3738;
  --grey: #4d4847;
  --mint: #F4FFF8;
  --blugrey: #8bAAAD;
}

a {
  color: inherit;
}

/* Projects styling */
#project-section{
    min-height: 500px;
    width: auto;
    /* background-color: red solid 2px; */
  }
  
.project-card {
position: relative;
background-color: var(--darkbg);
color: var(--mint);
border-radius: 15px 0 15px 0;
/* border: blue dashed 2px; */

/* min-height: 338px; */
padding: 0;
margin: .5%
}

.project-img {
max-width: 100%;
max-height: 400px;
padding:0;
margin: 0;
height: 70%;
overflow: hidden;


transition: var(--transition-value);
}

.project-img img {
border-radius: 15px 0 0 0;

padding:0;
transition: var(--transition-value);
}

.project-title h4{
transition: var(--transition-value);
}

.project-data {
padding: 0 2%;
/* border: green dashed 2px; */
}


.project-description{ 
display:inline-block;
opacity: 0;
height: 0;
transition: var(--transition-value);
overflow:hidden;
/* border: red dashed 2px; */
}

.project-tag {
/* TODO: Fix tag styling */
display:inline-block;
margin: 0 10px 0 0;
padding: 3px 15px;
border-radius: 8px;
background-color: var(--dark);

}

.project-card:hover{
  overflow: hidden;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.project-card:hover .project-img {
  height: 30%;
}

.project-card:hover h4 {
  color: var(--accentgold);
}

.project-card:hover .project-description {
  height: 150px;
  
  opacity: 1;
}

